.avatar {
  position: relative;
  height: 50px;
  width: 50px;
  padding: 2px 2px;
  .avatar-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 15px;
      overflow: hidden;
      height: 40x;
      width: 40px;
    }
  }
 
}