@import "../../style.scss";

.search {
  @include themify($themes) {
    .search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      padding: 5px;
      background-color: white;
      color: black;

      input {
        border: none;
        width: 500px;
        background-color: white;
        color: themed("textColor");
        outline: none;

        @include mobile {
          display: none;
        }

        @include tablet {
          width: 200px;
        }
      }
     
    }
  }
}

.searched-user {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: black;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  .searched-user-name{
    color: black;
    margin-left: 10px;
  }
}


