@import "../../style.scss";

.search {
  @include themify($themes) {
    .search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      padding: 5px;
      background-color: white;
      color: black;
    

      input {
        border: none;
        width: 500px;
        background-color: white;
        color: themed("textColor");
        outline: none;

        @include mobile {
          display: none;
        }

        @include tablet {
          width: 200px;
        }
      }

 
   

      .search-results-list {
        margin-top: 10px;
        width: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 8px #ddd;
        border-radius: 10px;
        margin-top: 1rem;
        max-height: 300px;
        overflow-y: scroll;
        .search-result {
          padding: 10px 20px;
        }
        .search-result:hover {
          background-color: #efefef;
        }
      }
    }
  }
}
