

@import "../../style.scss";

.sidebar{
  @include themify($themes) {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
    height: calc(100vh - 70px);

    .message {
      flex: 8;
    }
    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }